
<div class="panel panel-default" ng-controller="compareBargraph">
	<div class="panel-heading">
		<h3 class="panel-title">
			<form class="form-inline" role="form">
			<div class="form-group">
					<select class="form-control" ng-model="format.datayear"
						ng-options="col.year for col in yearlist">
						<option value=""></option>
					</select>
				</div>
				<botton type="submit" class="btn btn-primary btn-sm"
					ng-click="createCompareBargraph()">send</botton>
			</form>
		</h3>
	</div>
	<div class="panel-body">
		<div class="page-header">
			<h1 class="text-space">
				<small>Comparison income-outcome with people same group chart</small>
			</h1>
		</div>
		<div class="chart-style">
			<canvas tc-chartjs-bar chart-options="options" auto-legend
				chart-data="data"></canvas>
		</div>
	</div>
</div>

