<div class="bg-viewboard">
	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			<h3>INCOME</h3>
			<br>
			<h4>{{sumvalue[0].income|currency:"THB "}}</h4>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<h3>OUTCOME</h3>
			<br>
			<h4>{{sumvalue[0].outcome|currency:"THB "}}</h4>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<h3>TOTAL</h3>
			<br>
			<h4>{{sumvalue[0].total|currency:"THB "}}</h4>
		</div>
	</div>
</div>
<div class="bg-aside">
<!-- 	<div class="float-bt"> -->
<!-- 		<div class="button-space"> -->
<!-- 			<button -->
<!-- 				class="btn btn-primary btn-lg col-md-2 col-xs-2 col-md-offset-2 col-xs-offset-2" -->
<!-- 				ng-click="addcontent()">ADD</button> -->
<!-- 		</div> -->
<!-- 		<div class="button-space"> -->
<!-- 			<button -->
<!-- 				class="btn btn-primary btn-lg col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1" -->
<!-- 				ng-click="edittransaction()">EDIT</button> -->
<!-- 		</div> -->
<!-- 		<div class="button-space"> -->
<!-- 			<button -->
<!-- 				class="btn btn-primary btn-lg col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1" -->
<!-- 				ng-click="deletetransaction()">REMOVE</button> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div class="float-div" >
		<form class="form-inline" name="addform" novalidate>
			<div class="form-group">
				<input type="date" class="form-control" ng-model="datas.adddate">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="datas.addlist"
					placeholder="list">
			</div>
			<!-- ng-change="selectItem(datas.addtype)" -->
			<div class="form-group">
				<select class="form-control" ng-model="datas.addtype"
					ng-options="list.name for list in typedata.data.typeincomeoutlay"
					ng-change="selectItem()">
					<option value=""></option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="datas.addgroup"
					style="width: 120px;">
			</div>
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" type="number"
						ng-model="datas.addamount" id="exampleInputAmount"
						placeholder="Amount">
				</div>
			</div>
			<botton type="submit" class="btn btn-primary btn-sm"
				ng-click="addtransaction()">add</botton>
		</form>
	</div>
	<div class="panel panel-default float-div">
		<div class="panel-heading">
			<h3 class="panel-title">
<!-- 				<form class="form-inline" role="form"> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label>From</label> <input type="date" class="form-control" -->
<!-- 							ng-model="datadate.initdate" id="InputDateinit"> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label>To</label> <input type="date" class="form-control" -->
<!-- 							ng-model="datadate.finaldate" id="InputDatefinal"> -->
<!-- 					</div> -->
<!-- 					<botton type="submit" class="btn btn-primary btn-sm" -->
<!-- 						ng-click="rangedate()">send</botton> -->
<!-- 				</form> -->
			</h3>
		</div>
		<div class="panel-body">
			<div class="scroller-div">
				<ul class="list-group unstyled">
					<li class="list-group-item"
						ng-repeat="data in datadis.data.incomeoutlay | orderBy:'-savedate'">
						<div class="row">
							<div class="float-div">
								<div class="col-xs-1">
									<input type="checkbox" ng-model="test"
										checklist-model="transactionlist.list" checklist-value="data">
								</div>
								<div class="col-md-2">{{data.savedate | date:"yyyy-MM-dd"}}</div>
								<div class="col-md-2">{{data.nameincomeoutlay}}</div>
								<div class="col-md-2">{{data.typeofuse.name}}</div>
								<div class="col-md-2">{{data.typeofuse.type}}</div>
								<div class="col-md-2">{{data.amount}}</div>
								<div class="col-md-1">
 									<div class="buttons">
								         <button class="btn btn-primary btn-sm" ng-click="deletetransaction()">del</button>
								      </div>  
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>


