
<div class="panel panel-default" ng-controller="radargraph">
	<div class="panel-heading">
		<h3 class="panel-title">
			<form class="form-inline" role="form">
				<div class="form-group">
					<label>From</label> <input type="date" class="form-control"
						ng-model="datadate.initdate" id="InputDateinit">
				</div>
				<div class="form-group">
					<label>To</label> <input type="date" class="form-control"
						ng-model="datadate.finaldate" id="InputDatefinal">
				</div>
				<botton type="submit" class="btn btn-primary btn-sm"
					ng-click="creategraph()">send</botton>
			</form>
		</h3>
	</div>
	<div class="panel-body">
		<canvas tc-chartjs-radar chart-options="options" auto-legend
			chart-data="data"></canvas>
	</div>
</div>

