
<nav class="navbar color-nav navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<div class="navbar-header">
					<!-- 					<button type="button" class="nevbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button> -->
					<a class="navbar-brand" href="#/user">MONEY MOVEMENT</a>
				</div>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span><b
						class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Policy</li>
						<li><a href="#/user">private</a></li>
						<li><a href="#/user">change</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">user</li>
						<li><a href="#user">configure</a></li>
						<li><a href ng-click="logout()">sign out</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<!--Code side left -->
		<div class="col-md-2 col-xs-4">
			<div class="groupline">
				<div class="image-size">
					<a href="#/user"><img src="bootstrap-3.2.0-dist/image/profile.jpg"
						alt="..." class="img-rounded image-size"></a>
				</div>
				<div class="list-inlines">
					<a class="text-color" href="#/user">{{datauser.data.profile.name}} </a><br>
					<a href="#/profile" style="color: #050505;">Edit Profile</a>
				</div>
			</div>
			<div class="float-div ">
				<ul class="nav nav-pills nav-stacked">
					<li><a href ng-click="number = none">Detail
					</a></li>
					<li><a href ng-click="number = 1"> Daily
					</a></li>
					<li><a href ng-click="number = 2"> Brief  
					</a></li>
					<li><a href ng-click="number = 3"> Analysis
					</a></li>
					<li><a href ng-click="number = 4">Comparison
					</a></li>
				</ul>
			</div>
		</div>
		<!--Code side right -->
		<div class="col-md-10 col-xs-10">
			<div ng-switch="number">
				<div ng-switch-when="3">
					<barchart></barchart>
				</div>
				<div ng-switch-when="2">
					<doughnutchart></doughnutchart>
				</div>
				<div ng-switch-when="1">
					<linechart></linechart>
				</div>
				<div ng-switch-when="4">
					<comparechart></comparechart>
				</div>
				<div ng-switch-default>
					<transaction></transaction>
				</div>
			</div>
		</div>
	</div>
</div>