
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<div class="navbar-header">
					<!--<button type="button" class="nevbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
					<a class="navbar-brand" href="#">Name User</a>
				</div>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span><b
						class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Policy</li>
						<li><a href="#">private</a></li>
						<li><a href="#">change</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">user</li>
						<li><a href="#">configure</a></li>
						<li><a href="index.html">sign out</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<!--Code side left -->
		<div class="col-md-2 col-xs-4">
			<div class="groupline">
				<div class="image-size">
					<a href="#"><img src="bootstrap-3.2.0-dist/image/pic.jpg"
						alt="..." class="img-rounded image-size"></a>
				</div>
				<div class="list-inlines">
					<a class="text-color" href="display.html">Passakorn <br>Jonlapon
					</a><br> <a href="#" id="test1">Edit Profile</a>
				</div>
			</div>
			<div class="float-div ">
				<ul class="nav nav-pills nav-stacked">
					<li id="test"><a href="#"><span class="badge pull-right">42</span>Analysis</a>
					</li>
					<li><a href="#"> <span class="badge pull-right">42</span>Compare
					</a></li>
					<li id="test"><a href="#"><span class="badge pull-right">42</span>total</a>
					</li>
				</ul>
			</div>
		</div>
		<!--Code side right -->
		<div class="col-md-10 col-xs-10" id="div2">
			<div class="bg-aside">
				<div class="float-bt">
					<div class="button-space">
						<button
							class="btn btn-primary btn-lg col-md-2 col-xs-2 col-md-offset-2 col-xs-offset-2"
							ng-click="addcontent()">ADD</button>
					</div>
					<div class="button-space">
						<button
							class="btn btn-primary btn-lg col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1">EDIT</button>
					</div>
					<div class="button-space">
						<button
							class="btn btn-primary btn-lg col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1"
							ng-click="editcontent(data)">REMOVE</button>
					</div>
				</div>
				<div class="float-div">
					<form class="form-inline" name="addform" >
						<div class="form-group">
							<input type="date" class="form-control" ng-model="adddate"
								id="exampleInputBirthday">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="addlist"
								id="exampleInputList" placeholder="list">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" ng-model="addtype"
								id="exampleInputTypeList" placeholder="TypeList">
						</div>
						<div class="form-group">
							<select class="form-control" ng-model="addgroup"
								ng-options="sel.type for sel in types">
								<option value=""></option>
							</select>
						</div>
						<div class="form-group">
							<div class="input-group">
								<input class="form-control" type="number" ng-model="addamount"
									id="exampleInputAmount" placeholder="Amount">
							</div>
						</div>
						<botton type="submit" class="btn btn-primary btn-sm" ng-click="addcontent(data)">add</botton>
							
					</form>
					<div>cd {{adddate+addselect.type }}</div>
					<ul class="list-group unstyled">
						<li class="list-group-item"
							ng-repeat="data in datas | orderBy:'-date'">
							<div class="row">
								<div class="float-div col-md-10">
									<div class="col-md-1">
										<input type="checkbox" ng-model="data.check">{{data.check}}
									</div>
									<div class="col-md-2">{{data.date}}</div>
									<div class="col-md-2">{{data.list}}</div>
									<div class="col-md-2">{{data.type}}</div>
									<div class="col-md-2">{{data.group}}</div>
									<div class="col-md-2">{{data.amount}}</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Content web
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-left">
				<p>®By Passakorn</p>
			</div>
		</div>
	</nav> -->


</body>
</html>

<!-- 				<h3></h3> -->
<!-- 				<table class="table datas"> -->
<!-- 					<tr> -->
<!-- 						<th>date</th> -->
<!-- 						<th>list</th> -->
<!-- 						<th>type</th> -->
<!-- 						<th>group</th> -->
<!-- 						<th>amount</th> -->
<!-- 					</tr> -->
<!-- 					<tr ng-repeat="c in datas | orderBy:'-date'"> -->
<!-- 						<td>{{c.date}}</td> -->
<!-- 						<td>{{c.list}}</td> -->
<!-- 						<td>{{c.type}}</td> -->
<!-- 						<td>{{c.group}}</td> -->
<!-- 						<td>{{c.amount}}</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->
