<div class="row">
	<div class="col-md-1 col-md-offset-1">
		<div>
			<div>
				<label for="name" class="text-control">Name: </label>
			</div>
			<div>
				<label for="sex" class="text-control">Gender:</label>
			</div>
			<div>
				<label for="email" class="text-control">Email:</label>
			</div>
			<div>
				<label for="age" class="text-control">Age:</label>
			</div>
			<div>
				<label for="birthdate" class="text-control">Birthday:</label> 
			</div>
			<div>
				<label for="job" class="text-control">Job:</label>
			</div>
			<div>
				<label for="province" class="text-control">Province:</label>
			</div> 
			<button ng-click="cleardata()">clear</button> 
		</div>
	</div>
	<div class="col-md-8">

		<div class="col-md-8 text-control">{{datau.data.profile.name}}</div>
		<div class="col-md-8 text-control">{{datau.data.profile.sex}}</div>
		<div class="col-md-8 text-control">{{datau.data.profile.email}}</div>
		<div class="col-md-8 text-control">{{datau.data.profile.age}}</div>
		<div class="col-md-8 text-control">{{datau.data.profile.birthdate}}</div>
		<div class="col-md-8 text-control">{{datau.data.profile.job}}</div>
		<div class="col-md-8 text-control">{{datau.data.profile.province}}</div>
		<button ng-click="editprofile()">edit</button>
	</div>
	
</div>